<div class="row">
	<div class="col s7">
		<h5>Meetup Details</h5>
		<br />
		<div class="card">
			<div class="card-image">
				<%= image_tag @meetup.location.file, class: 'responsive-img materialboxed' %>
				<span class="card-title"><%= @meetup.location.name %></span>
			</div>
			<div class="card-content">
				<p>Category: <%= @meetup.location.location_type.category%></p>
				<p>Date: <%= @meetup.date.strftime("%A, %B %d") %></p>
				<p>Get Directions: <%= link_to @meetup.location.address, location_path(@meetup.location) %></p>
				<br />
				<p><%= @meetup.average_additional_commute_time.round(1)%> minutes added to commute, on average</p>
			</div>
			<div class="card-action" style="min-height: 55px;">
				<%= link_to 'Cancel Meetup', '#cancellationModal', class: 'right modal-trigger' %>
			</div>
		</div>


<div id="cancellationModal" class="modal">
	<div class="modal-content">
		<h4>Are you sure?</h4>
		<p>Cancelling this meetup will delete it immediately - there is no undo.</p>
		<p>To keep this meetup and *not* cancel, just click away or press escape.</p>
	</div>
	<div class="modal-footer">
		<%= button_to 'Cancel this meetup', group_meetup_path(@meetup.group, @meetup), method: :delete, class: 'modal-close waves-effect waves-green btn-flat inline-form janky-css' %>
	</div>
</div>

		

		<% if @locations %>
			<h5>Please select a location:</h5>
			<%= form_for [@meetup.group, @meetup] do |f| %>
				<% @locations.each do |location| %>
					<p><label>
						<%= f.radio_button :location_id, "[#{location[0].id},#{location[1]}]", class: 'with-gap'	%>
						<span><%= "#{location[0].name} - #{location[1].round} minutes " %></span>
					</label></p>
				<% end %>
				<%= f.submit "Meetup!"%>
			<% end %>

		<% end %>
	</div>
	
	<div class="col s1"></div>
	<div class="col s4">
		<h5>Who's coming?</h5>
		<p><b><%= link_to @meetup.group.name, group_path(@meetup.group) %></b></p>
		<p>
			<% @meetup.group.members.each do |member| %>
				<%= member.name %><br />
			<% end %>
		</p>
	</div>
</div>
<script>
	$(document).on('turbolinks:load', function(){
		if (!window.location.pathname.includes('/new')){
			var pattern = new RegExp("\/groups\/.+\/meetups")
			if (pattern.test(window.location.pathname)) {
				// Correct the URL when loading this view via 'render' rather
				// 		than a traditional GET request.			
				const state = {
					group_slug: '<%= @meetup.group.slug %>',
					meetup_slug: '<%= @meetup.slug %>'
				}
				const title = 'Friend Hour!'
				const url = '/groups/'+state.group_slug+'/meetups/'+state.meetup_slug
				history.pushState(state, title, url);
			}
		}
	});
</script>
