<div class="row">
	<div class="col s7">
		<h5>Meetup Details</h5>
		<p>Date: <%= @meetup.date.strftime("%A, %B %d") %></p>
		<p>Location: <%= link_to @meetup.location.name, location_path(@meetup.location) %></p>
		<p>Average Time Added to Commute: <%= @meetup.average_additional_commute_time%> minutes.</p>

		<% if @locations %>
			<h5>Please select a location:</h5>
			<ol>
				<% @locations.each do |location| %>
					<li>
						<%= location[0].name %>
						- Avg Addl Time:
						<%= location[1] %> mins
					</li>
				<% end %>
			</ol>
		<% end %>
	</div>
	
	<div class="col s1"></div>
	<div class="col s4">
		<h5>Who's coming?</h5>
		<p><b><%= link_to @meetup.group.name, group_path(@meetup.group) %></b></p>
		<p>
			<% @meetup.group.members.each do |member| %>
				<%= member.name %><br />
			<% end %>
		</p>
	</div>
</div>
