<div class="row">
	<div class="col s7">
		<h3><%= @group.name %></h3>
				<ul class="collection with-header">
					<li class="collection-header"><h5>Our upcoming meetups:</h5></li>				
					<% @group.meetups.each do |meetup| %>
						<a class="collection-item avatar homepage-meetup-link" 
						href="<%= group_meetup_path(@group, meetup) %>" 
						onclick="dontFollowLinkIfMeetupAddress(event)">
							<img src="<%= image_path meetup.location.file %>" alt='' class='circle'>
							<span class="title meetup-title"><%= meetup.location.name %></span><br />
							<span class="meetup-date"><%= meetup.date.strftime("%A, %B %d") %></span><br />
							<span class="meetup-address"><%= meetup.location.address %></span>
							<%# <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> %>
						</a>
					<% end %>
				</ul>
		<br />
		<%= link_to 'Create a New Meetup', new_group_meetup_path(@group), class: 'waves-effect waves-light btn' %>
	</div>
	<div class="col s1"></div>
	<div class="col s4">
		<h5>&nbsp;</h5>
		<p><b>Members</b></p>
		<p>
			<% @group.members.each do |member| %>
				<%= member.name %><br />
			<% end %>
		</p>
		<%= button_to 'Leave Group', group_path(@group), method: :delete, class: 'left waves-effect waves-light btn janky-css' %>
	</div>
</div>

