<div class="row">
	<div class="col s7">
		<h5>Location Details</h5>
		<p>Name: <%= @location.name %></p>
		<p>Category: <%= @location.location_type.category %></p>
		<p>Address: <%= @location.address %></p>
	</div>
	<div class="col s1"></div>
	<div class="col s4">
	</div>
</div>

<div class="row">
	<div class="col s12" style="height: 60vh;">
		<iframe
		width="100%"
		height="100%"
		frameborder="0" style="border: 0;"
		src="https://www.google.com/maps/embed/v1/place?key=<%= gmaps_api_key%>
			&q=<%=@location.address%>%" allowfullscreen>
		</iframe>
	</div>
</div>
