<!DOCTYPE html>
<html>
  <head>
    <title>Friend Hour!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="light-blue darken-3">
      <div class="container">
        <div class="nav-wrapper">
          <%= link_to 'Hangz<span id="extra-z">z</span>'.html_safe, root_path, class: 'brand-logo left' %>
          <ul id="nav-mobile" class="right">
            <% if logged_in? %>
              <li><%= link_to 'Home', user_path(@user) %></li>
              <li><%= link_to @user.name, edit_user_path(@user) %></li>
            <% elsif request.env['PATH_INFO'] == '/login' %>
              <li><%= link_to 'Create New User', register_path %></li>
            <% elsif request.env['PATH_INFO'] == '/register' %>
              <li><%= link_to 'Login', login_path %></li>  
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container main-content">
      <%= yield %>
    </div>
    <br />
    <footer class="page-footer light-blue darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <br />
            <h5 class="white-text">Friend Hour</h5>
            <p class="grey-text text-lighten-4">Because it's hard to find a place to meet that's convenient for everyone - let us handle that for you!</p>
            <%# <br /> %>
          </div>
          <div class="col l4 offset-l2 s12">
            <!--<h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>-->
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2020 Friend Hour | A project by
        <a href="https://github.com/96StanleyLee" target="_blank">Stanley Lee</a>
        and
        <a href="https://github.com/benhickson" target="_blank">Ben Hickson</a>
        <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
        </div>
      </div>
    </footer>
    <script>
      $(document).on('turbolinks:load', function(){
        $('select').formSelect();
        var elems = document.querySelectorAll('.datepicker');
        var options = {format: 'yyyy-mm-dd', onClose: datePickerClosed}
        M.Datepicker.init(elems, options);
        $('.materialboxed').materialbox();
        M.Modal._count = 0;
        $('.modal').modal();
        M.updateTextFields();

        <% flash.each do |type, message| %>
          var delay = 0
          <% message.each do |msg| %>
            window.setTimeout(function(){
              M.toast({html: '<%= msg %>'})
            }, delay);
            delay += 400
          <%end%>
        <%end%>        

      });

      function dontFollowLinkIfMeetupAddress(event){
        if (event.target.className == 'meetup-address') {
          event.preventDefault()
          copyTextToClipboard(event.target.innerHTML)
          M.toast({html: 'Address copied to clipboard!'})
        }
      }

      function datePickerClosed(){
        if (document.querySelector('.datepicker').value !== ''){
          document.querySelector('#dateButton').innerHTML = buttonText.dateSelected
          $('#dateButton').removeClass('disabled')
        }
      }

      function fallbackCopyTextToClipboard(text) {
        var textArea = document.createElement("textarea");
        textArea.value = text;
        
        // Avoid scrolling to bottom
        textArea.style.top = "0";
        textArea.style.left = "0";
        textArea.style.position = "fixed";

        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();

        try {
          var successful = document.execCommand('copy');
          var msg = successful ? 'successful' : 'unsuccessful';
          console.log('Fallback: Copying text command was ' + msg);
        } catch (err) {
          console.error('Fallback: Oops, unable to copy', err);
        }

        document.body.removeChild(textArea);
      }
      function copyTextToClipboard(text) {
        if (!navigator.clipboard) {
          fallbackCopyTextToClipboard(text);
          return;
        }
        navigator.clipboard.writeText(text).then(function() {
          console.log('Async: Copying to clipboard was successful!');
        }, function(err) {
          console.error('Async: Could not copy text: ', err);
        });
      }
    </script>
  </body>
</html>
